# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

####
*.DS_Store
.png
chgcar2grd
.vscode
/pot
example
Uvalue
test
OUT.ANI
dis_*
.idea
logs/
*.grd
MODECAR
Temp
xsd_test
KPOINTS
*.arc
!docs/*.svg
extension/*.so
wheelhouse
_dos.cpp
tests/con-TS
/tests/idpp/
*.tar.gz
*.so
xsd/
*.incar
*.submit
!/tests/module/gzy.vtst.conTS.submit
/tests/OUTCAR_opt
/tests/neb/OUTCAR
/extension/dos_cython.cpp
/extension/path_cython.c
/conda
!/conda/bld.bat
!/conda/build.sh
!/conda/meta.yaml
/tests/xyzhang/NEB-0912/
/tests/zyguo/W_element/
/tests/LOCPOT_/
/tests/figure.svg
/tests/performance/
/tests/anatase_band/
/tests/fort.188
/tests/POSCAR
/project/charge_visularize/
/project/displacement/
/tests/ypzhang/center/
/project/carbonylation/
/tests/fill_alpha/
/tests/zyguo/
/tests/zyguo/output/
/tests/zqshi/
/tests/xyzhang/
/tests/sum_test/
/tests/CeO2-inverse-pes/
/tests/mag-tag/
/project/chgdiff/
/project/DrThesis/
/tests/sort/
/tests/bump2version/
/tests/test_sym/INCAR
/tests/test_sym/KPOINTS
/tests/test_sym/POSCAR
/tests/test_sym/POTCAR
/tests/test_sym/submit.script
/tests/test_mag/INCAR
/tests/test_mag/KPOINTS
/tests/test_mag/POSCAR
/tests/test_mag/POTCAR
/tests/test_mag/submit.script
/project/
/tests/POTCAR
/tests/config.json
/tests/neb.json
/tests/pes.json
/tests/plot.json
/tests/P1xsd/normal/
/tests/P1xsd/Cu2O.xsd
/tests/P1xsd/INCAR
/tests/P1xsd/KPOINTS
/tests/P1xsd/POSCAR
/tests/P1xsd/POTCAR
/tests/P1xsd/submit.script
/tests/P1xsd/test.py
/tests/P1xsd/__init__.py
/tests/continuous/opt_cal/
/tests/INCAR
/tests/continuous/hse/
/node_modules/
/package.json
/package-lock.json
