name: Conda Package Build

on: push

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Conda build steps
        uses: ./.github/actions/conda-build
        with:
          shell-profile: ~/.bashrc
          conda-subdir:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Conda build steps
        uses: ./.github/actions/conda-build
        with:
          shell-profile: ~/.bash_profile
          conda-subdir: osx-arm64
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}